@import url('https://fonts.googleapis.com/css?family=Anton|Russo+One');
body {
    background-image: url("images/bg.jpg");
    height: 100vh;
}

.aboutInfo {
    border: 2px solid black;
    font-family: 'Anton', sans-serif;
    font-size: 2em;
    background-color: #464440;
    color: #D5D3CA;
    padding: 20px;
}

nav {
    background-color: #D5D3CA;
    background: rgba(213, 211, 202, 0.7);
}

.nav-link {
    font-family: 'Anton', sans-serif;
    font-size: 2em;
}

footer {
    background-color: #D5D3CA;
    font-size: 50px;
    flex-flow: row nowrap;
    text-align: center;
    color: #464440
}

img.carousel {
    margin: auto;
    width: 50%;
    padding: 10px;
}
img.nav-logo {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

a {
    color: #464440;
}
.font-anton {
    font-family: 'Anton', sans-serif;
    font-size: 1.5em;
    color: #464440;
}
