@import url("https://fonts.googleapis.com/css?family=Anton%7CRusso+One");

body {
    background-image: url(images/bg.jpg);
}

nav {
    background-color: #D5D3CA;
    background: rgba(213, 211, 202, 0.7);
}
.cart-bg {
    background: rgba(70, 68, 64, 0.7);
}

.font-russo {
    font-family: ‘Russo One’, sans-serif;
    font-size: 1.5em;
}

.nav-link {
font-family: 'Anton', sans-serif;
font-size: 2em;

}

.font-anton {
    font-family: 'Anton', sans-serif;
    font-size: 1.5em;
    color: #464440;
}

footer {
    background-color: #D5D3CA;
    font-size: 50px;
    flex-flow: row nowrap;
    text-align: center;
    color: #464440
}

a {
    color: #464440;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
