@import url('https://fonts.googleapis.com/css?family=Anton|Russo+One');
hr {
    border: 2px solid rgb(72, 111, 55);
}

.imageBox {
    background-color: #f1f1f1;
    border: 5px solid rgb(72, 111, 55);
    margin-top: 50px;
    border-radius: 15px;
}

body {
    background-image: url("images/bg.jpg");
    height: 100vh;
}

.back {
    margin-top: 50px;
    padding: 50px;
    border: 5px solid rgb(72, 111, 55);
    border-radius: 15px;
}

nav {
    background-color: #D5D3CA;
}

.nav-link {
    font-family: 'Anton', sans-serif;
    font-size: 2em;
    color: #464440;
}

footer {
    background-color: #D5D3CA;
    font-size: 50px;
    text-align: center;
    color: #464440;
}
section {
    margin-bottom: 200px
}




}
.cart-bg {
    background: rgba(70, 68, 64, 0.7);
}

.font-russo {
    font-family: ‘Russo One’, sans-serif;
}

.nav-link {
font-family: 'Anton', sans-serif;
font-size: 2em;

}

.font-anton {
    font-family: 'Anton', sans-serif;
    font-size: 1.5em;
    color: #464440;
}
}

a {
    color: #464440;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
